<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sub4</title>
    <!-- 부트스트랩 CDN -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        .container { border:1px solid lightgray; margin-top:50px; padding:10px }
    </style>


</head>
<body>
    <!-- templates/myApp/sub4.html -->
    <div class="container text-center">
        <h1>Sub4</h1>
        <hr>
        <h2>템플릿 for 반복문 </h2>
        <!-- context에 정의된 키로 호출 -->
        <h3>book_info</h3>
        {{ book_info }} 
        <ul class="list-group text-left" style="width:50%; margin:25px auto">
            {% for i,j in book_info  %}
            <li class="list-group-item"> {{i}} => {{j}} </li>
            {% endfor %}
        </ul>
        <hr>
        <h3>student_info</h3>
        {{ student_info }} <br><br>
        <table class="table table-bordered" style="width:70%;margin:10px auto">
            <!-- 제목행 -->
            <tr>
                <th>학생명</th>
                <th>성별</th>
                <th>주소</th>
                <th>나이</th>
            </tr>
            {% for name, gender, addr, age in student_info  %}
            <tr>
                <td>{{name}}</td>
                <td>{{gender}}</td>
                <td>{{addr}}</td>
                <td>{{age}}</td>
            </tr>
            {% endfor %}
        </table>    
        <hr>
        <h3>numList</h3> 
        {{numList}}
        <p>
        <!-- &nbsp; 한칸공백 -->
        {% for i in numList %}
            {{i}} &nbsp;&nbsp;&nbsp; 
        {% endfor %}
        </p>

            
    </div>
</body>
</html>