<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sub3</title>
    <!-- 부트스트랩 CDN -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        .container { border: 1px solid lightgray; margin-top: 50px; padding: 10px;}
    </style>


</head>
<body>
    <!-- templates/myApp/sub3.html -->
    <div class="container text-center">
        <h1>Sub3</h1>
        <hr>
        <h2>템플릿 변수</h2>
        <!-- context에 정의된 키로 호출 -->
        <ul class="list-group">
            <li class="list-group-item" style="width: 50%; margin: 20px auto"><b>NAME :</b> {{ name }}</li>
            <li class="list-group-item" style="width: 50%; margin: 20px auto"><b>ID :</b> {{ id }}</li>
            <li class="list-group-item" style="width: 50%; margin: 20px auto"><b>AGE : </b>{{ age }}</li>
            <li class="list-group-item" style="width: 50%; margin: 20px auto"><b>GRADE : </b>{{ grade }}</li>
        </ul>          
    </div>
</body>
</html>