<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sub7</title>
    <!-- 부트스트랩 CDN -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        .container { border: 1px solid lightgray; margin-top: 50px; padding: 10px;}
    </style>


</head>
<body>
    <!-- templates/myApp/sub7.html -->
    <div class="container text-center">
        <h1>Sub7</h1>
        <hr>
        <h2>GET 방식의 폼문서 처리2</h2>
        <h3>출생년도와 띠</h3>      
        <form action="/myApp/animalCon/" method="get">
            <div class="form-group" style="width:50%; margin:10px auto">
                <label for="birth">출생년도는?</label>
                <!-- 필수항목. 숫자값만 입력받을 수 있는 숫자텍스트필드로 정의 -->
                <input type="number" id="birth" name="birth" required
                    placeholder="태어난 년도를 입력하세요" class="form-control">
                <br>
                <input type="submit" value="전송" class="btn btn-danger">
            </div>
        </form>        
    </div>
</body>
</html>